<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests</title>
    <!-- insert stylesheets here -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles3.css') }}">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />    
    <link href='https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    
</head>
<body>
    <div class="wrapper">
        <nav>     
          <header>
            <span></span>
              {{session['FNAME']}}
            <a></a>
          </header>
          <ul>
            {% if session['ISadmin'] %}
            <li><span>Administrator</span></li>
            <li class="acc"><a class="active" style="text-decoration:none" href="{{url_for('auth.manage_users')}}">Manage Users</a></li>
            {% endif %}

            <li><span>Navigation</span></li>
            <li class="inv"><a style="text-decoration:none" href="{{url_for('views.user')}}">Inventory</a></li>
            <li class="move"><a style="text-decoration:none" href="{{url_for('views.Check_in')}}">Check-in</a></li>
            {% if session['ISstaff'] and session['id'] %}
            <li class="move"><a style="text-decoration:none" href="{{url_for('views.Checked')}}">Checked-out</a></li>
            <li class="edit"><a style="text-decoration:none" href="{{url_for('views.add')}}">Add Item</a></li>
            
            {% endif %}
            <li><span>Other</span></li>
            {% if not session['ISstaff'] and session['id'] %}
            <li class="acc"><a style="text-decoration:none;" href="{{url_for('auth.get_access')}}">Get Access</a></li>
            {% endif %}
            {% if session['ISstaff'] and session['id'] %}
            <li class="acc"><a style="text-decoration:none;" href="{{url_for('views.access')}}">Requests</a></li>
            {% endif %}
            <li class="acc"><a style="text-decoration:none" href="{{url_for('views.account_info')}}">Account Info</a></li>
            <!--<li><a>Settings</a></li>-->
            <li class="acc"><a style="text-decoration:none" href="{{url_for('views.help')}}">Help</a></li>
            <li class="logout"><a style="text-decoration:none" href="{{url_for('auth.logout')}}">Logout</a></li>
          </ul>        
        </nav>

        {% if session['ISstaff'] and session['id'] %}
        <main>     
          <h1>P{{session['SCHOOL_ID']}}'s DASHBOARD</h1>
          <div class="container-fluid">
            <div class="row" style="padding:50px;">
                <p><h2>List of all users</h1></p>
                <div >
                    <table id='empTable' class='display dataTable' width='100%'>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>School ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Access Level</th>
                            <th>Revoke Access</th>
                            <th>Delete User</th>
                        </tr>
                        </thead>
                        {% for row in data %}
                        {% if row.id != 1 %}
                          <tr>
                              <th>{{row.id}}</th>
                              <th>{{row.s_id}}</th>
                              <th>{{row.fname}}</th>
                              <th>{{row.lname}}</th>
                              <th>{{row.email}}</th>
                              <th>{{row.sf}}</th>
                              <th><a style="text-decoration:none" href="/revoke-access/{{row.id}}">Revoke Access</a></th>
                              <th><a style="text-decoration:none" href="/delete-user/{{row.id}}">Delete User</a></th>
                            </tr>
                        {% endif %}
                        {% endfor %}
                        <tbody>
                          
                        </tbody>
                         
                    </table>
                </div>
           </div>
        </div>
        {% else %}
        <div>
          <a style="text-decoration:none" style="align-items:center" href="{{url_for('views.user')}}">You don't have access to add to the Inventory!</a>
      </div>
      {% endif %}
        </main>      
      </div>
      
<script>
$(document).ready(function() {
    $('#empTable').DataTable({
        paging: false
    });
} );
</script>